<div class="row" id="movie_<%= movie.id %>">
    <div class="col-md-4">

    <% unless movie.imgurl.blank? %>
        <img class=movieposter src= <%= movie.imgurl %> </img>
    <% else %>
      <P style="font-size: xx-small; text-align: center; color: #AAAAAA; ">No image provided</P>
    <% end  %>
    

    
    </div>
    <div class="col-md-4">
        <div class='ratings-bar'>
            <div  class="ratings-bar-el">
              <h4> <%= link_to movie.title, movie  %> </h4>
            </div>
            <div  class="ratings-bar-el">
                IMDB:
                <%= movie.imdbscore %>
            </div>
            <div  class="ratings-bar-el">
                Metascore:
                <%= movie.metascore %>
            </div>
        </div>
        <%=  render partial: "watchnow", locals: {movie: movie} %>
        
    </div>
    <div class="col-md-4">
        <%= movie.description %>
    </div>
</div>
