<div class=container>

    <% for md in @filtered_movie_dates %>

        <div class="row" >
            <h3> <%= md.to_formatted_s(:long_ordinal)  %> </h3>
            <hr>
        </div>

        <% for mx in @filteredmovies %>


        <div class="row" id="movie_<%= mx.id %>">

            <div class="col-md-4">
                <img class=movieposter src= <%= mx.imgurl %> </img>
            </div>

            <div class="col-md-4">

                <div class='ratings-bar'>
                    <div  class="ratings-bar-el">
                        <h4><%= mx.title %></h4>
                    </div>

                    <div  class="ratings-bar-el">
                        IMDB:
                        <%= mx.imdbscore %>
                    </div>

                    <div  class="ratings-bar-el">
                        Metascore:
                        <%= mx.metascore %>
                    </div>

                </div> <!-- ratings-bar'-->

                <a target = _blank href="<%= mx.launchurl %>"> <%= mx.launchurl %>  </a>

            </div> <!-- col-md-4 -->

            <div class="col-md-4">
                <%= mx.description %>
            </div>

        </div>
    <% end %>
    <% end %>

</div>


<%= paginate @filteredmovies %>
