<%= render 'form'  %>

<ul>

<TABLE class=table>
    <thead>
        <tr>
            <t>Title</th>
            <th>IMDB score</th>
            <th>Metascore</th>
            <th>descrption</th>
            <th>launchurl</th>
        </tr>
    </thead>

<% for mx in @filteredmovies %>
    <TR id="movie_<%= mx.id %>">
        <TD><%= mx.title %>
        <img width=220px src= <%= mx.imgurl %> </IMG><TD>
        <TD><%= mx.imdbscore %></TD>
        <TD><%= mx.metascore %></TD>
        <TD><%= mx.description %></TD>
        <TD><a target = _blank href="<%= mx.launchurl %>"> <%= mx.launchurl %>  </a> </TD>
    </TR>
<% end %>
</TABLE>
</ul>
