<%= render 'form'  %>

<ul>

<TABLE>
<% for mx in @movies %>
    <TR id="movie_<%= mx.id %>">
        <TD><%= mx.title %></TD>

        <TD><%= mx.imdbscore %></TD>

        <TD><%= mx.metascore %></TD>

        <TD><%= mx.description %></TD>

</TR>
<% end %>

</TABLE>
</ul>
