<h1>Movies#index</h1>
<%= render 'form'  %>

<ul>
<% for mx in @movies %>
    <li id="movie_<%= mx.id %>">
        <%= mx.title %>
        | <%= link_to 'Edit', edit_movie_path(mx) %>
        | <%= link_to 'Delete', movie_path(mx), :method => 'delete' %>
    <BR></li>
<% end %>
</ul>
