<div class='row'>
  <div class="col-sm-4">

    <%=  image_tag(@fullprofile.Poster) %>

    <% @fullprofile.Ratings.each do |r |   %>
    <%=  r['Source'] %> : 
    <h1>  <%=  r['Value']   %> </h1> 
    <% end %>

    
  </div>  <!-- col -->
  
  <div class="col-sm-8">

    <h2><%= @fullprofile.title %> </h2>

    <h2><%=  render partial: "watchnow", locals: {movie: @movie} %></h2>

    <table class="table">
      <% movie_fullprofile_attribute_names.each do |a| %>
      <tr>
	<td> <%=  a %></td>
        <td><%= @fullprofile.send(a) %></td>
      </tr>
      <% end %>
    </table>
  </div> <!-- col -->
</div> <!-- row -->



