<div class='row'>
  <div class="col-sm-4">

    <div class="row">
      <%= image_tag( @fullprofile.Poster, class: "movie-fullprofile-poster") %> 
    </div>

    <% @fullprofile.Ratings.each do |r |   %>

    <div class="row">
      <div class="col-sm-6 fullprofile-ratings-source">
	<%=  r['Source'] %> : 
      </div>

      <div class="col-sm-6 fullprofile-ratings-value">
	<em> <%=  r['Value']   %>  </em>
      </div>
    </div>
    <% end %>

  </div>  <!-- col -->
  
  <div class="col-sm-8">

    <h2><%= @fullprofile.title %> </h2>
    <h2><%=  render partial: "watchnow", locals: {movie: @movie} %></h2>

    <table class="table">
      <% movie_fullprofile_attribute_names.each do |a| %>
      <tr>
	<td> <%=  a %></td>
        <td><%= @fullprofile.send(a) %></td>
      </tr>
      <% end %>
    </table>
    
  </div> <!-- col -->
</div> <!-- row -->



