<!DOCTYPE html>
<html>
<head>
  <title>Metaflix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>


    <% flash.each do |name, message|  %>
        <div id="flash_<%= name %>">
            <%= message %>
        </div>
    <% end %>



  <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>





</body>
</html>
